nav{
	font-size: 20px;
}
.navbar-brand{
	font-size: x-large;
}
.carousel{
padding: 30px;
width: 50%;
height: 50%;
}
.carousel-inner, .carousel-inner > .carousel-item{
padding: 30px;
}
.carousel-inner > .carousel-item > img{
 height: 400px;
 width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
}
.form1{
	margin-top: 100px;
}
.adminh1{
	text-align: center;
	margin-top: 50px;
}
.reg{
	text-align: center;
	margin-top: 50px;
}
